<!doctype html>
<title>Simulation as a Service</title>
<title>Reusable Form Demo</title>
<link rel="stylesheet" href="static/bootstrap.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block body %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}
    {% if category != "error": %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endif %}

    {% if category == "error": %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Simulation-as-a-Service</h1>
    <form method="POST">
        <p>Github repository: </p>
        <p><input type=text name="gitrepo"></p>
        <p>Git branch: </p>
        <p><input type=text name="gitbranch"></p>
        <p><input type=submit name="start_sim" value="Submit"></p>
    </form>
    <form method="POST">
        <p>Get progress for job with id: </p>
        <p><input type=text name="jobidresults"> </p>
        <p><input type=submit name="sim_progress" value="Submit"></p>
    </form>
    <form method="POST">
        <p>Get results for job with id: </p>
        <p><input type=text name="jobidresults2"> </p>
        <p><input type=submit name="sim_res" value="Submit"></p>
    </form>
    <form method="POST">
        <p>Delete/cancel job with id: </p>
        <p><input type=text name="jobidtocancel"> </p>
        <p><input type=submit name="cancel_job" value="Submit"></p>
    </form>
</div>
{% endblock %}
